<style>
table, th, td {
    border: 1px solid black;
}
</style>
<h1>Check out this cat rental request! </h1>

<table style="width:80%" >

  <tr>
    <th>Cat Name</th>
    <th>Rental Start</th>
    <th>Rental End</th>
    <th>Status</th>
  </tr>
  <tr >
    <td><%= Cat.find_by(id: @cat_rental_request.cat_id).name %></td>
    <td><%= @cat_rental_request.start_date %></td>
    <td><%= @cat_rental_request.end_date %></td>
    <td><%= @cat_rental_request.status %></td>
  </tr>
</table>

<a href="<%= cat_rental_requests_url %>">Show me all the rentals!</a>

<br>
<br>
<br>

<% if @cat_rental_request.status == "Pending" %>
  <input type="submit" value="">
<% end %>
